body{
	background-color: #1E90FF;
}
#general {
	width: 1024px;
	height:1324px;
	background-color: grey;
}
div{
	float: left;
	margin: 10px;
}
.CajaHorizontal {
	background-color: green;
	margin-top: 10px;
	margin-left: 10px;
	width: 1000px;
	height: 80px;	
}
.CajaCuadrada {
	background-color: #BCF5A9;
	width: 235px;
	height: 165px;
}
.CajaGrande {
	background-color: #BCF5A9;
	width: 747px;
	height: 400px;
}
.CajaVertical {
	background-color: #BCF5A9;
	width: 233px;
	height: 400px;
}
.CajaFinal {
	background-color: #BCF5A9;
	width: 1000px;
	height: 25px;
}