body{
    background-color: #1E90FF;

}

.contenedor-principal{
    background-color: grey;

}


.cabezera{
    background-color: green;
    height: 80px;
    
	

}


.cajitas{
background-color :#BCF5A9;
height: 45px;
width: 100%;

}

.cajitas-verticales-pequeña{
    background-color: #BCF5A9;
	height: 200px;

}


.cajitas-verticales-grandes{
    background-color: #BCF5A9;
	height: 200px;
    
}






.copyright{
    background-color: green;
}