/* Opcion flex ejemplo 1 */
.flex1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 100%;
}

.flex1 > div{
    background-color: #27aa4e;
    height: 5em;
    width: 30%;  
}


/* Opcion flex ejemplo 1 */
.flex2{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 2em;
    width: 100%;
}

.flex2 > div{
    background-color: #278baa;
    height: 5em;
    width: 30%;  
}

/* Opcion flex ejemplo 1 */
.flex3{
    align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%); 
    justify-content: space-between;
    margin: auto;
    margin-bottom: 2em;
    width: 80%;
}

.flex3 > div{
    background-color: #e9a718;
    height: 5em;
    margin-bottom: 2em;
    width: 100%;  
}

/*Opción display block*/
.block{
    background-color: #e9a718;
    height: 5em;
    display: block;
    float: left;
    width: 30%;  
}

.block2{
    background-color: #e9a718;
    height: 5em;
    display: block;
    float: left;
    width: 30%;  
}